dj-database-url==0.4.2
Django==1.11.1
django-appconf==1.0.2
django-avatar==4.0.0
django-ckeditor==5.3.0
django-countries==4.6.1
django-js-asset==0.1.1
django-money==0.11.4
django-smart-selects==1.5.2
django-widget-tweaks==1.4.1
easy-thumbnails==2.4.1
gunicorn==19.7.1
olefile==0.44
Pillow==4.1.1
psycopg2==2.7.1
py-moneyed==0.7.0
python-decouple==3.1
pytz==2017.2
six==1.10.0
whitenoise==3.3.1
