{% extends 'shared/base.html' %}
{% load widget_tweaks %}

{% block meta %}
    <title>Login - Janani Home</title>
    <meta name="description" content="" />
{% endblock %}

{% block heading %}
{% endblock heading %}

{% block content %}
<h1>Login</h1>
<div class="col-md-8">
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
    {% for field in form %}
        <label for="{{ field.id_for_label }}" class="inline">{% if field.label == 'Username' %}Username or email{% else %}{{ field.label }}{% endif %}:</label>
        {% for error in field.errors %}
            <div class="container alert alert-danger">
                    {{ error }}
            </div>
        {% endfor %}
        {% render_field field class+="form-control" %}
    {% endfor %}
    </div>
    <button class="btn btn-secondary" type="submit">Login</button>
</form>
</div>
{% endblock %}
{% block sidebar %}
<h2>Help</h2>
<p>Don't have an account? <a href="{% url 'signup' %}">Sign up now</a>.</p>
<p>Forgot your password? <a href="{% url 'password_reset' %}">Reset it here</a>.</p>
{% endblock %}