{% extends 'shared/base.html' %}

{% block meta %}
    <title>Password reset - Janani Home</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block content %}
  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}