{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% block heading %}
<h1>Reset password</h1>
{% endblock heading %}
{% block content %}
  <p>Type in email address linked to your account and we will send you a password reset link.</p>
  <form method="post" class="form-inline">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
    {% for field in form %}
        <label for="{{ field.id_for_label }}" class="inline">{{ field.label }}:</label>
        {% for error in field.errors %}
            <div class="container alert alert-danger">
                    {{ error }}
            </div>
        {% endfor %}
        {% render_field field class+="form-control mx-sm-3" %}
    {% endfor %}
    <button class="btn btn-secondary" type="submit">Reset password</button>
    </div>
  </form>
{% endblock %}
