{% extends 'shared/base.html' %}

{% block meta %}
    <title>Change password - Janani Home</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block sidebar %}
    <h2 class="small-heading">Navigation</h2>
    <a href="{% url 'view_profile' %}">&laquo; Back to profile view</a>
{% endblock sidebar %}

{% block heading %}
{% endblock heading %}

{% block content %}
    <h1>Change password</h1>
    <div class="col-md-10">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Save changes</button>
        </form>
    </div>
{% endblock %}