{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% block sidebar %}
    <p><a href="{% url 'view_profile' %}">&laquo; Back to profile view</a></p>
{% endblock sidebar %}

{% block heading %}
    <h1>Edit profile</h1>
{% endblock heading %}

{% block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        {% for field in user_form %}
            <div class="form-group row">
                <label for="{{ form.field.id_for_label }}">{{ field.label }}:</label>
                {% for error in field.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="form-group row">
                <label for="{{ form.field.id_for_label }}">{{ field.label }}:</label>
                {% for error in field.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}
        <br>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-secondary btn-lg">Save changes</button>
        </div>
    </form>
{% endblock %}
