{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block meta %}
    <title>Edit profile - Janani Home</title>
    <meta name="description" content="" />
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block sidebar %}
    <h2 class="small-heading">Navigation</h2>
    <p><a href="{% url 'view_profile' %}">&laquo; Back to profile view</a></p>
{% endblock sidebar %}

{% block heading %}
{% endblock heading %}

{% block content %}
    <h1>Edit profile</h1>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif%} alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ profile_form.media }}
        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        <div class="form-row d-none">
            <label for="{{ user_form.username.id_for_label }}">{{ user_form.username.label }}:</label>
                {% for error in user_form.username.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field user_form.username class+="form-control" %}
        </div>



        <h2 class="inverted-heading small-heading">Contact information</h2>
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ user_form.email.id_for_label }}">{{ user_form.email.label }}:</label>
                {% for error in user_form.email.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field user_form.email class+="form-control" %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ profile_form.mobile_number.id_for_label }}">{{ profile_form.mobile_number.label }}:</label>
                {% for error in profile_form.mobile_number.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.mobile_number class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.mobile_number_2.id_for_label }}">{{ profile_form.mobile_number_2.label }}:</label>
                {% for error in profile_form.mobile_number_2.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.mobile_number_2 class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.phone_number.id_for_label }}">{{ profile_form.phone_number.label }}:</label>
                {% for error in profile_form.phone_number.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.phone_number class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.phone_number_2.id_for_label }}">{{ profile_form.phone_number_2.label }}:</label>
                {% for error in profile_form.phone_number_2.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.phone_number_2 class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.fax_number.id_for_label }}">{{ profile_form.fax_number.label }}:</label>
                {% for error in profile_form.fax_number.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.fax_number class+="form-control" %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label for="{{ profile_form.additional_contact_details.id_for_label }}">{{ profile_form.additional_contact_details.label }}:</label>
                {% for error in profile_form.additional_contact_details.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.additional_contact_details class+="form-control" %}
            </div>
        </div>
        <h2 class="inverted-heading small-heading">Location</h2>
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ profile_form.country.id_for_label }}">{{ profile_form.country.label }}:</label>
                {% for error in profile_form.country.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.country class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.state.id_for_label }}">{{ profile_form.state.label }}:</label>
                {% for error in profile_form.state.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.state class+="form-control" %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ profile_form.city.id_for_label }}">{{ profile_form.city.label }}:</label>
                {% for error in profile_form.city.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.city class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.district.id_for_label }}">{{ profile_form.district.label }}:</label>
                {% for error in profile_form.district.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.district class+="form-control" %}
            </div>
            <div class="col-md-6">
                <label for="{{ profile_form.zip_code.id_for_label }}">{{ profile_form.zip_code.label }}:</label>
                {% for error in profile_form.zip_code.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.zip_code class+="form-control" %}
            </div>
            <div class="col-md-12">
                <label for="{{ profile_form.organization_address.id_for_label }}">{{ profile_form.organization_address.label }}:</label>
                {% for error in profile_form.organization_address.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.organization_address class+="form-control" %}
            </div>
        </div>
                <h2 class="inverted-heading small-heading">About</h2>

        <div class="form-row">
            <div class="col">
                {% for error in profile_form.about.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.about class+="form-control" %}
            </div>
        </div>

        <h2 class="inverted-heading small-heading">Profile image</h2>
        <div class="form-row">
            <div class="col">
                {% if request.user.profile.image %}
                    <img src="{{ request.user.profile.image|thumbnail_url:'avatar250' }}" alt="{{ request.user }}" class="img-fluid profile-image">
                {% endif %}
                {% for error in profile_form.image.errors %}
                    <div class="container alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% render_field profile_form.image class+="form-control" %}
            </div>
        </div>
        <br>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-secondary btn-lg">Save changes</button>
        </div>
    </form>
{% endblock %}
