{% extends 'shared/base.html' %}
{% block heading %}
{% endblock heading %}
{% block content %}
<h1>Sign up</h1>
<div class="col-md-10">
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }}<br>
{{ field }}
{% if field.help_text %}<br>
  <small>{{ field.help_text|safe }}</small>
{% endif %}
{% for error in field.errors %}
  <p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}

<button class="btn btn-secondary" type="submit">Sign up</button>
</form>
</div>
{% endblock %}

{% block sidebar %}
<h2>Help</h2>
<p>Already have an account? <a href="{% url 'login' %}">Log in here</a>.</p>
{% endblock %}