{% extends 'shared/base.html' %}
{% load avatar_tags %}
{% block sidebar %}
    <h2 class="small-heading">Profile menu</h2>
    <hr>
    <p><a href="{% url 'update_profile' %}">Edit profile</a></p>
    <p><a href="{% url 'avatar_change' %}">Change profile image</a></p>
    <p><a href="{% url 'change_password' %}">Change password</a></p>
{% endblock sidebar %}
{% block heading %}
<h1>My profile</h1>
{% endblock heading %}
{% block content %}
    <div class="card">
        <div class="card-header">My details</div>
        <div class="card-block row">
            <div class="col-md-3 text-center">
                <div class="profile-image">
                    {% avatar user 150 %}
                </div>
            </div>
            <div class="col-md-7">
                <h3>{{ request.user.first_name }} {{ request.user.last_name }}</h3>
                <p><i>{{ request.user.profile.about }}</i></p>
                <p>Birth date: {{ request.user.profile.birth_date }}</p>
                <p>Location: {{ request.user.profile.zip_code }} {{ request.user.profile.city }}, {{ request.user.profile.district }}, {{ request.user.profile.state }}, {{ request.user.profile.country.name }}</p>
                <p>Mobile number: {{ request.user.profile.mobile_number }} {% if request.user.profile.hide_mobile_number %}(Hidden from public){% endif %}</p>
                <p>Phone number: {{ request.user.profile.phone_number }} {% if request.user.profile.hide_phone_number %}(Hidden from public){% endif %}</p>
                <p>E-mail: {{ request.user.email }}</p>

            </div>
        </div>
    </div>
    <br/>
    <div class="card">
    <div class="card-header">My educational needs</div>
        <div class="card-block">
            {% if educational_needs %}
                {% for need in educational_needs %}
                    {% if not need.closed %}
                    <p>
                        <h5>{% if need.pk != request.user.profile.active_educational_need.pk %}<span class="badge badge-secondary">Inactive</span>{% endif %}
                        {% if need.pk == request.user.profile.active_educational_need.pk %}<span class="badge badge-success">Active</span>{% endif %}
                        <a href="{% url 'detail_view' pk=need.pk %}">{{ need.title }}</a></h5>
                        &nbsp;&nbsp;
                        {% if need.pk != request.user.profile.active_educational_need.pk %}<a class="btn btn-outline-success btn-sm" role="button" href="{% url 'activate_need' pk=need.pk %}">Activate</a>{% else %}<a class="btn btn-outline-warning btn-sm" role="button" href="{% url 'deactivate_need' pk=need.pk %}">Deactivate</a>{% endif %}
                        <a class="btn btn-outline-dark btn-sm" role="button" href="{% url 'edit_need' pk=need.pk %}">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_need' pk=need.pk %}">Delete</a>
                        <a class="btn btn-outline-info btn-sm" role="button" href="{% url 'educational_need_comment' need.pk %}">Close &amp; Leave Comment</a>
                    </p>
                    {% else %}
                    <h5><p><span class="badge badge-dark">Closed</span> <a href="{% url 'detail_view' pk=need.pk %}">{{ need }}</a></p></h5>
                    {% endif %}
                    <hr>
                {% endfor %}
                {% else %}
                    You don't have any educational needs.
            {% endif %}
            <a href="{% url 'add_need' %}" class="btn btn-secondary float-right" role="button">+ New Educational Need</a>
        </div>
    </div>
{% endblock %}