{% extends 'shared/base.html' %}
{% load widget_tweaks %}

{% block heading %}
{% endblock heading %}

{% block content %}
<h1>Approve comment</h1>
<div class="row">
    <div class="col-md-6">
        <p>Author: {{ comment.author }}</p>
        <p>Helper: {{ comment.helper }}</p>
        <p>Related object: {% if comment.educational_need %}<a href="{% url 'detail_view' comment.educational_need.pk %}">{{ comment.educational_need }}</a>{% endif %}</p>
        <p>Rating: {{ comment.rating }}</p>
        <p>Comment text:<br/><blockquote class="blockquote">{{ comment.comment }}</blockquote></p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <form action="{% url 'approve_comment' comment.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Accept" class="btn btn-success">
        </form>
    </div>
    <div class="col-md-3">
        <form action="{% url 'reject_comment' comment.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Reject" class="btn btn-danger">
        </form>
    </div>
</div>
{% endblock%}