{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}

{% block meta %}
    <title>User comments - Janani Home</title>
    <meta name="description" content="" />
{% endblock %}

{% block heading %}
{% endblock heading %}

{% block content %}
<div class="infinite-container">
	<h1>Comments <span class="text-muted"><small>from Janani Home users</small></span></h1>
	{% for comment in object_list %}
			<div class="result-{{ result.pk }} card infinite-item">
				<div class="card-header">
                	<h5 class="card-title">{{ comment.pub_date }} by {{ comment.author }}</h5>
            	</div>
				<div class="card-block row">
					<div class="col-md-3 text-center">
					  {% if not comment.author.profile.image %}
						  {% if comment.author.profile.gender == 'M' %}
							<img src="{% static 'img/avatar-male.jpg' %}" height="150" alt="{{ comment.author }}" class="img-fluid" />
						  {% else %}
							<img src="{% static 'img/avatar-female.jpg' %}" height="150" alt="{{ comment.author }}" class="img-fluid" />
						  {% endif %}
					  {% else %}
					  <img src="{{ comment.author.profile.image|thumbnail_url:'avatar150' }}" alt="{{ comment.author }}" class="img-fluid" />
					  {% endif %}
					</div>
					<div class="col-md-7 text-14 align-middle">
						<table>
							{% if comment.helper %}
							<tr>
								<td>Helper: {{ comment.helper }}</td>
							</tr>
							{% endif %}
							<tr>
								<td>
								{% for x in 'xxxxx' %}
									{% if forloop.counter0 < comment.rating %}
										<i class="fa fa-heart" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
								</td>
							</tr>
						</table>
						<blockquote class="blockquote">
							<p>{{ comment.comment }}</p>
							<footer class="blockquote-footer">
								{{ comment.author.get_full_name }} {% if comment.educational_need %}about {% if comment.author.profile.gender == 'M' %}his{% else %}her{% endif %} <a href="{% url 'detail_view' comment.educational_need.pk %}">post</a>{% endif %}
							</footer>
						</blockquote>
					</div>
					<div class="col-md-2 text-center align-middle">
						<br><br>
					</div>
				</div>
			</div>
			<br>
	{% endfor %}
</div>
<div class="loading" style="display: none;">
	<img height="100" src="{% static 'img/loading.gif' %}" alt="Loading...">
  
	{% if page_obj.has_next %}
		<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">Loading...</a>
	{% endif %}
</div>
{% endblock %}