{% extends 'shared/base.html' %}
{% load static %}
{% load avatar_tags %}

{% block heading %}
    <h4 class="margin-padding-0">Comments</h4>
    &nbsp; - &nbsp;
    <h5 class="padding-3">Comments and reviews from our users</h5>
{% endblock heading %}

{% block content %}
	{% for comment in comments %}
			<div class="result-{{ result.pk }} card w-100">
				<div class="card-header">
                	<h5 class="card-title">{{ comment.author.first_name }} {{ comment.author.last_name }} on {{ comment.pub_date }}</h5>
            	</div>
				<div class="card-block row">
					<div class="col-md-3 text-center">
						{% avatar comment.author 150 class="img-responsive" %}
					</div>
					<div class="col-md-7 text-14 align-middle">
						<table>
							<tr>
								<td><span class="text-bold">About:</span></td>
								<td>{% if comment.educational_need %}<a href="{% url 'detail_view' comment.educational_need.pk %}">{{ comment.educational_need }}</a>{% endif %}</td>
							</tr>
							<tr>
								<td><span class="text-bold">Helper:</span></td>
								<td>{% if comment.helper %}{{ comment.helper.username }}{% else %}N/A{% endif %}</td>
							</tr>
							<tr>
								<td><span class="text-bold">Rating:&nbsp;</span></td>
								<td>{{ comment.rating }}</td>
							</tr>
							<tr>
								<td><span class="text-bold">Comment:&nbsp;</span></td>
							</tr>
							<tr>
								<td>{{ comment.comment }}</td>
							</tr>
						</table>
					</div>
					<div class="col-md-2 text-center align-middle">
						<br><br>
					</div>
				</div>
			</div>
			<br>
	{% endfor %}
{% endblock %}