{% extends 'shared/base.html' %}
{% load static %}
{% load thumbnail %}

{% block heading %}
{% endblock heading %}

{% block content %}
	<h1>Comments <small class="text-muted">and reviews from users who received help through Janani Home</small></h1>
	{% for comment in comments %}
			<div class="result-{{ result.pk }} card">
				<div class="card-header">
                	<h5 class="card-title">{{ comment.pub_date }} by {{ comment.author }}</h5>
            	</div>
				<div class="card-block row">
					<div class="col-md-3 text-center">
						<img src="{{ comment.author.profile.image|thumbnail_url:'avatar150' }}" alt="{{ comment.author }}">
					</div>
					<div class="col-md-7 text-14 align-middle">
						<table>
							{% if comment.helper %}
							<tr>
								<td>Helper: {{ comment.helper.username }}</td>
							</tr>
							{% endif %}
							<tr>
								<td>
								{% for x in 'xxxxx' %}
									{% if forloop.counter0 < comment.rating %}
										<i class="fa fa-heart" aria-hidden="true"></i>
									{% else %}
										<i class="fa fa-heart-o" aria-hidden="true"></i>
									{% endif %}
								{% endfor %}
								</td>
							</tr>
						</table>
						<blockquote class="blockquote">
							<p>{{ comment.comment }}</p>
							<footer class="blockquote-footer">
								{{ comment.author.get_full_name }} {% if comment.educational_need %}about <a href="{% url 'detail_view' comment.educational_need.pk %}"><cite title="{{ comment.educational_need }}">{{ comment.educational_need }}</cite></a>{% endif %}
							</footer>
						</blockquote>
					</div>
					<div class="col-md-2 text-center align-middle">
						<br><br>
					</div>
				</div>
			</div>
			<br>
	{% endfor %}
{% endblock %}