{% extends 'educational_need/base.html' %}
{% load widget_tweaks %}
{% block heading %}
    <h4 class="margin-padding-0">Complete your registration</h4>
{% endblock heading %}
{% block content %}
    <p><strong>Please fill out the form below to finish registration and activate your account.</strong></p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        {% for field in user_form %}
            <div class="form-group row">
                {{ field.errors }}
                <label for="{{ form.field.id_for_label }}">{{ field.label }}:</label>
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="form-group row">
                {{ field.errors }}
                <label for="{{ form.field.id_for_label }}">{{ field.label }}:</label>
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}
        <br>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-secondary">Complete registration</button>
        </div>
    </form>
{% endblock %}