{% extends 'shared/base.html' %}
{% load widget_tweaks %}
{% block sidebar %}
    <a href="{% url 'view_profile' %}">&laquo; Back to profile view</a>
{% endblock sidebar %}

{% block heading %}
    <h4 class="margin-padding-0">Edit profile</h4>
{% endblock heading %}

{% block content %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ user_form.non_field_errors }}
        {{ profile_form.non_field_errors }}
        {% for field in user_form %}
            <div class="form-group row">
                {{ field.errors }}
                <label for="{{ form.field.id_for_label }}">{{ field.label }}:</label>
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="form-group row">
                {{ field.errors }}
                <label for="{{ form.field.id_for_label }}">{{ field.label }}:</label>
                {% render_field field class+="form-control" %}
            </div>
        {% endfor %}
        <br>
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </form>
{% endblock %}
