{% extends 'educational_need/base.html' %}
{% load avatar_tags %}
{% block content %}
<div class="container-fluid">
    <div class="row content">

        <div class="col-sm-3 sidenav hidden-xs">
            <p><a href="{% url 'update_profile' %}">Edit profile</a></p>
            <p><a href="{% url 'avatar_change' %}">Change profile image</a></p>
        </div>
        <div class="col-sm-9">
          <div id="user-profile">
          <h2>Profile for {{ request.user }}</h2>


                <div class="panel panel-default">
                  <div class="panel-heading">User details</div>
                  <div class="panel-body">
					<div id="profile-image">
						{% avatar user 150 %}
					</div>
                    <p><strong>Name: </strong>{{ request.user.first_name }}</p>
                    <p><strong>Surname: </strong>{{ request.user.last_name }}</p>
                    <p><strong>Birth date: </strong>{{ request.user.profile.birth_date }}</p>
                    <p><strong>Location: </strong>{{ request.user.profile.zip_code }} {{ request.user.profile.city }}, {{ request.user.profile.district }}, {{ request.user.profile.state }}, <strong>{{ request.user.profile.country.name }}</strong></p>
                    <p><strong>Description: </strong>{{ request.user.profile.about }}</p>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">Contact details</div>
                  <div class="panel-body">
                    <p><strong>Mobile number: </strong>{{ request.user.profile.mobile_number }}</p>
                    <p><strong>Phone number: </strong>{{ request.user.profile.phone_number }}</p>
                    <p><strong>E-mail: </strong>{{ request.user.email }}</p>
                  </div>
                </div>                
				<div class="panel panel-default">
                  <div class="panel-heading">Active Educational Need</div>
                  <div class="panel-body">
					{% if request.user.profile.active_educational_need %}
                    <p><a href="{% url 'detail_view' pk=request.user.profile.active_educational_need.pk %}">{{ request.user.profile.active_educational_need }}</a></p>
					{% else %}
						You don't have an active educational need. You can create one and activate it in your profile settings.
					{% endif %}
                  </div>
                </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}