{% extends 'shared/base.html' %}
{% load avatar_tags %}
{% block sidebar %}
    <p><a href="{% url 'update_profile' %}">Edit profile</a></p>
    <p><a href="{% url 'avatar_change' %}">Change profile image</a></p>
    <p><a href="{% url 'change_password' %}">Change password</a></p>
{% endblock sidebar %}
{% block heading %}
<h4 class="margin-padding-0">Profile settings</h4>
{% endblock heading %}
{% block content %}
    <div class="card w-100">
        <div class="card-header">User details</div>
        <div class="card-block row">
            <div class="col-md-3 text-center">
                <div id="profile-image">
                    {% avatar user 150 %}
                </div>
            </div>
            <div class="col-md-7 text-14 align-middle">
                <p>Name: {{ request.user.first_name }}</p>
                <p>Surname: {{ request.user.last_name }}</p>
                <p>Birth date: {{ request.user.profile.birth_date }}</p>
                <p>Location: {{ request.user.profile.zip_code }} {{ request.user.profile.city }}, {{ request.user.profile.district }}, {{ request.user.profile.state }}, <strong>{{ request.user.profile.country.name }}</strong></p>
                <p>Description: {{ request.user.profile.about }}</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="card w-100">
        <div class="card-header">Contact details</div>
        <div class="card-block row">
            <div class="col-md-7 text-14 align-middle">
                <p>Mobile number: {{ request.user.profile.mobile_number }} {% if request.user.profile.hide_mobile_number %}(Hidden from public){% endif %}</p>
                <p>Phone number: {{ request.user.profile.phone_number }} {% if request.user.profile.hide_phone_number %}(Hidden from public){% endif %}</p>
                <p>E-mail: {{ request.user.email }}</p>
            </div>
        </div>
    </div>
    <br/>
    <div class="card w-100">
    <div class="card-header">Educational Needs</div>
        <div class="card-block row">
            <div class="col-md-7 text-14 align-middle">
                {% if educational_needs %}
                    {% for need in educational_needs %}
                        <p><a href="{% url 'detail_view' pk=need.pk %}">{{ need }}</a> (<a href="{% url 'edit_educational_need' pk=need.pk %}">Edit</a> | <a href="{% url 'delete_need' pk=need.pk %}">Delete</a>){% if need.pk == request.user.profile.active_educational_need.pk %} <strong>Active</strong>{% else %} <a href="{% url 'activate_need' pk=need.pk %}">Activate</a>{% endif %}</p>
                    {% endfor %}
                {% else %}
                    You don't have any educational needs.
                {% endif %}
                <a href="{% url 'add_educational_need' %}" class="btn btn-secondary" role="button">Add Educational Need</a>
            </div>
        </div>
    </div>
{% endblock %}