{% extends 'shared/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block meta %}
    <title>{{ educational_need.title }} - Janani Home</title>
    <meta name="description" content="" />
{% endblock %}

{% block sidebar %}
    <h2>Navigation</h2>
    <a href="#" onclick="goBack()">&laquo; Back to results</a>
{% endblock sidebar %}

{% block heading %}
{% endblock heading %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="row need-content mb-3 mr-3">
      <div class="need-header">
          <h1 class="text-center">{{ educational_need.title }}</h1>
          <p class="need-id text-left"><small>Unique ID: {{ educational_need.date_uuid }}</small></p>
      </div>
        <div class="col-md-12 card ml-3 mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        {% if not educational_need.user.profile.image %}
                        <img src="{% static 'img/logo-big.png' %}" width="180" alt="{{ educational_need.user }}" class="img-fluid profile-image float-left" />
                        {% else %}
                        <img src="{{ educational_need.user.profile.image|thumbnail_url:'avatar250' }}" alt="{{ educational_need.user }}" class="img-fluid profile-image float-left">
                        {% endif %}
                    </div>
                    <div class="blockquote need-description col">
                        {{ educational_need.requirement_description|safe }}
                        <h4 class="inverted-heading amount-required">Amount required: {{ educational_need.amount_required }}</h4>
                    </div>
                </div>
            </div>
        </div>
      <div class="card col-md-12 ml-3 mt-3">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6">
                    <h5 class="card-title">User description</h5>
                    <p class="card-text">{{ educational_need.user.profile.about|safe }}</p>
                  </div>
                  <div class="col">
                    <h5 class="card-title text-left">User details</h5>
                    <p class="card-text">
                        <strong>{{ educational_need.user.profile.get_full_name }}</strong><br>
                        Age: {{ educational_need.user.profile.birth_date.year }}<br>
                        Country: {{ educational_need.user.profile.country.name }}<br>
                        City: {{ educational_need.user.profile.city }}<br>
                        Mobile number:
                        {% if educational_need.additional_mobile_number %}
                            {% if educational_need.hide_mobile_number %}
                                Hidden from public
                            {% else %}
                                {{ educational_need.additional_mobile_number }}
                            {% endif %}
                        {% else %}
                            {% if educational_need.user.profile.hide_mobile_number %}
                                Hidden from public
                            {% else %}
                                {{ educational_need.user.profile.mobile_number }}
                            {% endif %}
                        {% endif %}<br>
                        Phone number:
                        {% if educational_need.additional_phone_number %}
                            {% if educational_need.hide_phone_number %}
                                Hidden from public
                            {% else %}
                                {{ educational_need.additional_phone_number }}
                            {% endif %}
                        {% else %}
                            {% if educational_need.user.profile.hide_phone_number %}
                                Hidden from public
                            {% else %}
                                {{ educational_need.user.profile.phone_number }}
                            {% endif %}
                        {% endif %}<br>
                    </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-12 mt-3 ml-3">
          <div class="card-body">
              <h5 class="card-title text-left">Send message to {{ educational_need.user }}</h5>
              {% if educational_need.closed %}
              <div class="alert alert-secondary">
                  This educational need has been closed by the user and is not active anymore!
              </div>
              {% else %}
                {% if user.is_authenticated %}
                    <form method="post">{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.permanent_address.errors }}
                            {% render_field form.message class+="form-control" rows=3 %}
                        </div>
                        <button type="submit" class="btn btn-secondary">SEND MESSAGE</button>
                    </form>
                {% else %}
                    <p class="alert alert-secondary">You are not logged in! Please register or log in to contact this user.</p>
                {% endif %}
              {% endif %}
          </div>
      </div>
    </div>
{% endblock content %}