{% extends 'shared/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block sidebar %}
    <a href="" onclick="goBack()">&laquo; Back to results</a>
{% endblock sidebar %}
{% block heading %}
{% endblock heading %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="text-center need-content">
      <div class="need-header">
          <h3>{{ educational_need.title }}</h3>
          <hr>
            {% if not educational_need.user.profile.image %}
            <img src="{% static 'img/logo-big.png' %}" height="250" alt="{{ educational_need.user }}" class="img-responsive profile-image float-left" />
            {% else %}
            <img src="{{ educational_need.user.profile.image|thumbnail_url:'avatar250' }}" alt="{{ educational_need.user }}" class="img-responsive profile-image float-left">
            {% endif %}
          <p class="blockquote need-description">{{ educational_need.requirement_description }}</p>
      </div>
      <hr>
      <h4 class="inverted-heading">Amount required: {{ educational_need.amount_required }}</h4>
      <hr>
      <h3 >About the user</h3>
      <p class="blockquote">{{ educational_need.user.profile.about }}</p>
      <hr>
      {% if educational_need.closed %}
      <div class="alert alert-warning">
          This educational need has been closed by the user and is not active anymore!
      </div>
      {% else %}
      <h3>Contact details</h3>
      <p>This educational need was submitted by <strong>{{ educational_need.user.first_name }} {{ educational_need.user.last_name }}</strong>.<br/>{{ educational_need.user.first_name }} was born in year {{ educational_need.user.profile.birth_date.year }} and lives in {{ educational_need.user.profile.city }}, <strong>{{ educational_need.user.profile.country.name }}</strong>.<br/>You can find {{ educational_need.user.first_name }}'s contact information below.</p>
            <p>
                <strong>Mobile number: </strong>
                {% if user.is_authenticated %}
                    {% if educational_need.additional_mobile_number %}
                        {% if educational_need.hide_mobile_number == False %}
                            {{ educational_need.additional_mobile_number }}
                        {% else %}
                            [hidden by the user]
                        {% endif %}
                    {% else %}
                        {% if educational_need.user.profile.hide_mobile_number == False %}
                            {{ educational_need.user.profile.mobile_number }}
                        {% else %}
                            [hidden by the user]
                        {% endif %}
                    {% endif %}
                {% else %}
                    [hidden]
                {% endif %}
            </p>
          {% if educational_need.user.profile.phone_number or educational_need.additional_phone_number %}
            <p>
                <strong>Phone number: </strong>
                {% if user.is_authenticated %}
                    {% if educational_need.additional_phone_number %}
                        {% if educational_need.hide_phone_number == False %}
                            {{ educational_need.additional_phone_number }}
                        {% else %}
                            [hidden by the user]
                        {% endif %}
                    {% else %}
                        {% if educational_need.user.profile.hide_phone_number == False %}
                            {{ educational_need.user.profile.phone_number }}
                        {% else %}
                            [hidden by the user]
                        {% endif %}
                    {% endif %}
                {% else %}
                    [hidden]
                {% endif %}
            </p>
          {% endif %}
            {% if user.is_authenticated %}
                <form method="post">{% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
						{{ form.permanent_address.errors }}
                        {% render_field form.message class+="form-control" rows=3 %}
                    </div>
                    <button type="submit" class="btn btn-secondary">SEND MESSAGE</button>
                </form>
            {% else %}
                <p class="alert alert-danger">You are not logged in! Please register or log in to contact this user.</p>
            {% endif %}
    {% endif %}
    </div>
{% endblock content %}