{% extends 'shared/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block meta %}
    <title>{{ educational_need.title }} - Janani Home</title>
    <meta name="description" content="" />
{% endblock %}

{% block sidebar %}
    <h2>Navigation</h2>
    <a href="#" onclick="goBack()">&laquo; Back to results</a>

    <h2 class="mt-5">User video</h2>
    {% if educational_need.youtube_url %}
    <div class="col-md-12 video-wrapper">
        <iframe width="560" height="315" src="{{ educational_need.create_youtube_embed_link }}" frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}
{% endblock sidebar %}

{% block heading %}
{% endblock heading %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %}>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <div class="row need-content mb-3 mr-3">
        <div class="need-header">
            <h1 class="text-center">{{ educational_need.title }}</h1>
            <p class="need-id text-left"><small>Unique ID: {{ educational_need.date_uuid }}</small></p>
        </div>
        <div class="col-md-12 card ml-3 mt-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="row">
                        <div class="col text-center">
                        {% if not educational_need.user.profile.image %}
                          {% if educational_need.user.profile.gender == 'M' %}
                            <img src="{% static 'img/avatar-male.jpg' %}" height="120" alt="{{ result.user }}" class="img-fluid" />
                          {% else %}
                            <img src="{% static 'img/avatar-female.jpg' %}" height="120" alt="{{ result.user }}" class="img-fluid" />
                          {% endif %}
                        {% else %}
                        <img src="{{ educational_need.user.profile.image|thumbnail_url:'avatar250' }}" alt="{{ educational_need.user }}" class="img-fluid profile-image">
                        {% endif %}
                        </div>
						</div>
                        <div class="row">
                        <div class="col">
						Published on {{ educational_need.pub_date }}<br/>
                        <span class="need-verification">{% if educational_need.verified %}Verified by Janani Home{% endif %}</span>
						<hr>
						View count: {{ educational_need.view_count }}
                        </div>
                        </div>
                    </div>
                    <div class="blockquote need-description col">
                        {{ educational_need.requirement_description|safe }}
                        <h4 class="inverted-heading amount-required">Amount required: {{ educational_need.amount_required }}</h4>
                        <div class="share-icons">
                            <span class="small text-muted">Share on</span>
                            <a href="http://www.facebook.com/share.php?u=http://{{request.META.HTTP_HOST}}{% url 'detail_view' pk=educational_need.pk %}" onclick="return fbs_click()" target="_blank"><i class="fab fa-facebook-square"></i></a>
                            <a href="http://twitter.com/home?status=Help%20people%20in%20need:%20http://{{request.META.HTTP_HOST}}{% url 'detail_view' pk=educational_need.pk %}" title="Click to share this post on Twitter" target="_blank"><i class="fab fa-twitter-square"></i></a>
                            <a href="whatsapp://send?text=Help%20people%20in%20need:%20http://{{request.META.HTTP_HOST}}{% url 'detail_view' pk=educational_need.pk %}" data-action="share/whatsapp/share" title="Share via Whatsapp"><i class="fab fa-whatsapp-square" target="_blank"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="card col-md-12 ml-3 mt-3">
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                    <h5 class="card-title text-center mt-2">User description</h5>
                    <p class="card-text">{{ educational_need.user.profile.about|safe }}</p>
                  </div>
                  <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-12">
                        <h5 class="card-title text-center mt-3 mb-3">User details</h5>
                      </div>
					{% if user.is_authenticated %}
                      <div class="col-md-6">
                        <p class="card-text">
                          <strong>{{ educational_need.user.profile.get_full_name }}</strong><br>
                            Age: {{ educational_need.user.profile.get_age }}<br>
                            Country: {{ educational_need.user.profile.country.name }}<br>
                            City: {{ educational_need.user.profile.city }}<br>
                            Mobile number:
                            {% if educational_need.additional_mobile_number %}
                                {% if educational_need.hide_mobile_number %}
                                    *** [Hidden]
                                {% else %}
                                    {{ educational_need.additional_mobile_number }}
                                {% endif %}
                            {% else %}
                                {% if educational_need.user.profile.hide_mobile_number %}
                                    *** [Hidden]
                                {% else %}
                                    {{ educational_need.user.profile.mobile_number }}
                                {% endif %}
                            {% endif %}<br>
                            {% if educational_need.additional_phone_number or educational_need.profile.phone_number %}
                                Phone number:
                                {% if educational_need.additional_phone_number %}
                                    {% if educational_need.hide_phone_number %}
                                        *** [Hidden]
                                    {% else %}
                                        {{ educational_need.additional_phone_number }}
                                    {% endif %}
                                {% else %}
                                    {% if educational_need.user.profile.hide_phone_number %}
                                        *** [Hidden]
                                    {% else %}
                                        {{ educational_need.user.profile.phone_number }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </p>
						<p><strong>Preferred communication mode:</strong><br>{{ educational_need.get_communication_mode_display }}</p>
                      </div>
                      <div class="col-md-6">
						<p><strong>Permanent address:</strong><br>{% if educational_need.hide_permanent_address %}*** [Hidden]{% else %}{{ educational_need.permanent_address }}{% endif %}</p>
						<p><strong>Current address:</strong><br>{% if educational_need.hide_current_address %}*** [Hidden]{% else %}{{ educational_need.current_address }}{% endif %}</p>
						<p><strong>School address:</strong><br>{{ educational_need.college_school_address }}</p>
						<p><strong>School contact details:</strong><br>{{ educational_need.college_school_contact_details }}</p>
                      </div>
					{% else %}
						<p class="alert alert-secondary">You are not logged in! Please register or log in to see details about this user.</p>
					{% endif %}
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="card col-md-12 mt-3 ml-3">
          <div class="card-body">
              <h5 class="card-title text-left">Send message to {{ educational_need.user }}</h5>
              {% if educational_need.closed %}
              <div class="alert alert-secondary">
                  This educational need has been closed by the user and is not active anymore!
              </div>
              {% else %}
                {% if user.is_authenticated %}
                    <form method="post">{% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.permanent_address.errors }}
                            {% render_field form.message class+="form-control" rows=3 %}
                        </div>
                        <button type="submit" class="btn btn-secondary">SEND MESSAGE</button>
                    </form>
                {% else %}
                    <p class="alert alert-secondary">You are not logged in! Please register or log in to contact this user.</p>
                {% endif %}
              {% endif %}
          </div>
      </div>
    </div>
{% endblock content %}