{% extends 'shared/base.html' %}
{% load thumbnail %}
{% load static %}

{% block meta %}
    <title>Educational needs - Janani Home</title>
    <meta name="description" content="Search people in educational need around the world or submit your own request for help." />
{% endblock %}

{% block heading %}
    {% include 'educational_need/filter.html' %}
{% endblock heading %}

{% block content %}

    <!-- Alert for unauthenticated users -->
    {% if user.is_authenticated %}
    {% else %}
        <div class="alert alert-secondary text-center" role="alert">
            Want to submit your application or help others in their need? <a class="alert-link" href="{% url 'signup' %}"><br>Sign-up</a> or <a class="alert-link" href="{% url 'login' %}">log in</a> to your account.
        </div>
    {% endif %}<!-- Alert for unauthenticated users -->
    <h2 class="small-heading">Educational Needs {% if active_country %}in {% if active_state and active_state != active_country %}{{ active_state }}, {% endif %}{{ active_country }}{% else %} around the world{% endif %}</h2>

    <!-- Result list -->
    <div class="row result-list">
        <div class="col-md-12">{% if active_search or active_country %}<p>{% if active_query %}<span class="badge badge-light">Keyword: "{{ active_query }}"</span>{% endif %}{% if active_country %}<span class="badge badge-light">Country: {{ active_country }}</span>{% endif %}{% if active_state %}
            <span class="badge badge-light">State: {{ active_state }}</span>{% endif %} <a href="{% url 'list_view' %}"> <i class="fa fa-refresh" aria-hidden="true"></i></a></p>{% endif %}</div>
        {% for result in object_list %}
        <!-- Result card -->
        <div class="result-container col-md-6">
              <div class="result-card card">
              <div class="row">
                  <div class="col-3 text-center result-sidebar">
                    {% if not result.user.profile.image %}
                    <img src="{% static 'img/logo-avatar.png' %}" height="70" alt="{{ comment.author }}" class="img-fluid" />
                    {% else %}
                    <img src="{{ result.user.profile.image|thumbnail_url:'avatar70' }}" alt="{{ result.user }}" class="img-fluid">
                    {% endif %}
                    <br>Views:<br><i class="fa fa-eye" aria-hidden="true"></i> {{ result.view_count }}
                  </div>
                  <div class="col-8">
                    <div class="row">
                      <div class="col-12">
                        <div class="title-container"><a href="{% url 'detail_view' pk=result.pk %}"><h5>{{ result.title|truncatechars:45 }}</h5></a></div>
                        <p class="result-location"><i class="fa fa-globe" aria-hidden="true"></i> {{ result.user.profile.city }}, {{ result.user.profile.state }}, {{ result.user.profile.country }}</p>
                        <p class="result-description"><small>{{ result.requirement_description|striptags|truncatechars:96|safe }}</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                    <div class="row result-meta">
                      <div class="col-6 amount"><i class="fa fa-money" aria-hidden="true"></i><br>{% if result.amount_required %}{{ result.amount_required }}{% else %}Unknown amount{% endif %}</div>
                      <div class="col-6 read-more"><a class="btn btn-outline-dark" href="{% url 'detail_view' pk=result.pk %}"><i class="fa fa-list" aria-hidden="true"></i><br>Details</a></div>
                      <span class="need-id"><small>ID: {{ result.date_uuid }}</small></span>
                    </div>
            </div>
        </div><!-- Result card -->
        {% endfor %}

        {% if is_paginated %}
            <!-- Pagination -->
        <div class="col-md-12">
                <div class="pagination-container">
                    <nav aria-label="Pagination">
                        <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="btn btn btn-outline-dark" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">&laquo; Previous</a></li>
                        {% else %}
                            <li class="page-item disabled" tabindex="-1"><a class="page-link" href="#">&laquo; Previous</a></li>
                        {% endif %}
                            <li class="page-item disabled" tabindex="-1"><a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="btn btn btn-outline-dark" href="?page={{ page_obj.next_page_number }}" aria-label="Next">Next &raquo;</a></li>
                        {% endif %}
                        </ul>
                    </nav>
                </div><!-- Pagination -->
        </div>
        {% endif %}
    </div> <!-- Result list -->
{% endblock content %}

{% block sidebar %}
    <div class="">
      <div class="text-center">
        <h2 class="small-heading">User Comments</h2>
      </div>
      <br>
      <div class="card-block">
          {% for comment in comments %}
          <div class="row">
              <div class="col-3 text-center">
                  {% if not comment.author.profile.image %}
                  <img src="{% static 'img/logo-big.png' %}" height="70" alt="comment.author" class="img-fluid" />
                  {% else %}
                  <img src="{{ comment.author.profile.image|thumbnail_url:'avatar70' }}" alt="{{ comment.author }}" class="img-fluid" />
                  {% endif %}
              </div>
              <div class="col-9">
                <p>
                {% for x in 'xxxxx' %}
                    {% if forloop.counter0 < comment.rating %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    {% endif %}
                {% endfor %}
                </p>
                <p>{{ comment.comment }}</p>
              </div>
              <div class="col-12 text-right"><p><span class="text-muted">{{ comment.author }} on {{ comment.pub_date }}</span></p></div>
          </div>
          <hr>
          {% endfor %}
          <p class="text-right"><a class="btn btn-outline-dark" href="{% url 'comment_list' %}">See all comments</a></p>
      </div>
    </div>
{% endblock sidebar %}