/* General */
@font-face {
        font-family: "Glacial Indifference";
        src: url('../font/GlacialIndifference.otf');
}

@font-face {
    font-family: "Trocchi";
    src: url('../font/Trocchi.otf');
}

body {
    font-family: 'Glacial Indifference';
}

body .site-container {
    max-width: 1200px;
    margin-top: 1em;
    margin-bottom: 1em;
}

body a {
    color: #333;
    font-weight: 600;
}

body a:hover {
    color: #444;
    text-decoration: none;
}

.sidebar a {
    font-weight: 500;
}

.sidebar a:hover {
    font-weight: 600;
}

.sidebar h2 {
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}

h1, h2 {
    font-family: 'Trocchi';
}

form label {
    font-weight: 600;
}

input {
    width: 100%;
}

.form-control input {
    width: 50%;
}

input:focus, .form-control:focus {
  border-color: #eee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

input[type=checkbox] {
    width: auto;
    height: auto;
    padding:0;
    margin: 0.5em ;
}

.heading {
    margin-top: 1em;
}

.heading h1 {
    font-size: 2em;
    font-family: 'Glacial Indifference';
}


.small-heading {
    font-size: 1.2em;
}

.inverted-heading {
    background-color: #eee;
    padding: 20px;
    font-family: "Trocchi";
}

/* Navbar */

.bg-dark {
    font-size: 1em;
    background-color: #000!important;
}

.navbar-dark .navbar-toggler {
    border-color: #777;
}

.navbar-dark .navbar-nav .nav-link {
    color:#888;
}
.navbar .container {
    max-width: 1200px;
}

.navbar a {
    font-weight: 500;
}

.navbar-brand {
    font-family: 'Trocchi';
    line-height: 1em;
}



/* Result List */

.card {
    box-shadow: 5px 5px #ccc;
}

.result-list a {
    color: #444;
}

.result-card {
    padding: 0.5em;
    height: 100%;
    background-color: #fff;
}

.title-container {
    height: 4em;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: left;
}

.result-card h5 {
}

.result-container {
    margin-bottom: 3em;
}

.result-sidebar {
    margin-top: 1em;
    margin-left: 1em;
}

.result-location {
    font-size: 0.8em;
    color: #888;
    height: 2em;
}

.result-description {
    font-size: 0.7em;
    font-style: italic;
    font-size: 1.2em;
    min-height: 80px;
}

.result-meta {
    border-top: 1px solid #ddd;
    margin: 0 1em;
    padding: 1em 0;
}
.result-meta .amount {
    text-align: center;
    margin-top: 0.3em;
}

.result-meta .read-more a {
    text-align: center;
    width: 100%;
}

.result-meta .need-id {
    font-size: 0.9em;
    padding-top: 1em;
    margin-left: 1.0em;
}


.need-id {
    font-size: 1.2em;
    padding-top: 1em;
    margin-left: 1.0em;
}

.pagination-container {
    margin: 0 auto;
    margin-bottom: 1em;
}

.pagination a, a:hover, .pagination a:active, .pagination a:visited {
    font-weight: 500;
}

.pagination li {
    padding: 0.5em;
}


#search-filter label {
    font-weight: 600;
}

#search-filter select {
    width: 50%;
}

#search-filter button {
    border: 1px solid #ddd;
    background-color: #000;
}

#search-filter button:hover {
    background-color: #222;
}

/* Profile View */

.card .profile-image img {
    margin: 0 auto;
    margin: 10px;
}

.card .card-block {
    padding: 20px;
}

/* Educational Need Detail View */

.need-content .profile-image {
    margin: 20px;
}

.need-description {
    padding: 20px;
    text-align: left;
}

.need-header {
    width: 100%;
}

/* Footer */
#site-footer {
    text-align: center;
    color: #999;
}

/* Forms */
.form-row {
    padding: 1em;
    margin-bottom: 1em;
}

.content h1 {
    font-size: 2em;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

.content h2 {
    font-size: 1.5em;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eee;
}

.logo {
    margin: 0;
    padding: 0;
    margin-left: 1em;
    height: 130px;
    width: auto;
}

.logo img {
    float:left;
    max-width:100%;
    max-height:100%;
}

@media (max-width: 480px) {
    .logo {
        display:none;
    }

    .heading form input {
        font-size: 0.9em;
    }
}

@media (min-width: 480px) {
    .navbar-logo {
        display:none;
    }
}

.amount-required {
    font-size: 1em;
    margin-top: 2em;
}

.profile-card .btn {
    margin-bottom: 0.5em;
}