/* General */
@font-face {
        font-family: "Glacial Indifference";
        src: url('../font/GlacialIndifference.otf');
}

@font-face {
    font-family: "Trocchi";
    src: url('../font/Trocchi.otf');
}

body {
    padding-bottom: 2.5em;
    font-family: 'Glacial Indifference';
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'Trocchi';
}

input {
    width: 100%;
}

input[type=checkbox] {
    width: auto;
    height: auto;
    padding:0;
    margin: 0.5em ;
}

.heading h1 {
    font-size: 2em;
    font-family: 'Glacial Indifference';
}

.heading {
    padding-top: 1em;
}

.small-heading {
    font-size: 1.2em;
}

.inverted-heading {
    background-color: #eee;
    padding: 20px;
    font-family: "Trocchi";
}

/* Navbar */
.navbar-brand {
    font-family: 'Trocchi';
}

.navbar {
    font-size: 1.2em;
}

/* Result List */
.result-list a {
    color: #444;
}

.result-card {
    padding: 0.5em;
    height: 100%;
    background-color: #fff;
}
.result-container {
    margin-bottom: 3em;
}

.result-sidebar {
    padding-top: 1em;
    padding-left: 1.5em;
}

.result-location {
    font-size: 0.8em;
    color: #888;
}

.result-description {
    font-size: 0.7em;
    font-style: italic;
    font-size: 1.2em;
    min-height: 6em;
}

.result-card .amount {
    text-align: center;
}

.result-card .read-more {
    text-align: center;
}

.pagination {
    max-width:330px;
    margin: 0 auto;
}

#search-filter label {
    font-weight: 600;
}

#search-filter select {
    width: 50%;
}

#search-filter button {
    border: 1px solid #ddd;
}

/* Profile View */

.card .profile-image img {
    margin: 0 auto;
    margin: 10px;
}

.card .card-block {
    padding: 20px;
}

/* Educational Need Detail View */
.need-content .profile-image {
    margin: 20px;
}
.need-description {
    padding: 20px;
    text-align: left;
}
.need-header {
    min-height: 370px;
}

/* Footer */
#site-footer {
    text-align: center;
    color: #999;
}