                <div class="row">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p><h4>Find</h4>
                </div>
                <br>
                <form class="col-10 offset-1">
                    <div class="form-group row">
                        <div class="form-group row text-14">
                            <h6 class="col-12 margin-padding-0">Search:</h6>
                            <input type="text" class="form-control col-10" id="search" aria-describedby="search" placeholder="Keyword...">
                            <span  class="col-1 button-idea">
                                <i class="material-icons color-gray">search</i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group row text-14">
                            <h6 class="col-12 margin-padding-0">Filters:</h6>
                            <label for="country">Country</label>
                            <select class="form-control" id="country">
                                <option>(All)</option>
                            </select>

                            <label for="state">State</label>

                            <select class="form-control" id="state">
                                <option>(All)</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary">Apply filters</button>
                    </div>
                </form>
