{% extends 'educational_need/base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-3 sidenav hidden-xs">
			<a href="{% url 'list_view' %}">&laquo; Back to list view</a>
			<h3>Help</h3>
			<small>
			<p><strong>Permanent address</strong>: your permanent registration address visible on your ID/passport (required)</p>
			<p><strong>Current address</strong>: your current address of residence (required)</p>
			<p><strong>College school address</strong>: ??? (optional)</p>
			<p><strong>College school contact details</strong>: ??? (optional)</p>
			<p><strong>Status</strong>: ??? (required)</p>
			<p><strong>Amount required</strong>: Amount required in currency based on your country of residence (required)</p>
			<p><strong>Documents</strong>: ??? (required)</p>
			<p><strong>Requirement description</strong>: ??? (required)</p>
			<p><strong>Communication mode</strong>: select your preferred communication mode (required)</p>
            </div>
			</small>
            <div class="col-sm-9">
				<h1>Educational Need <small class="text-muted">Submit your application</small></h1>
				<hr />
				{% if user.is_authenticated %}
					{% if request.user.first_name and request.user.last_name and request.user.email and request.user.profile.birth_date and request.user.profile.mobile_number and request.user.profile.city and request.user.profile.state and request.user.profile.country %}
						<div id="educational-need-form-container">
							<form method="post" enctype="multipart/form-data">
								{% csrf_token %}
								{{ form.as_ul }}
								<input type="submit" value="Submit" />
							</form>
						</div>
					{% else %}
					<p class="alert alert-danger">Your profile is incomplete! The following fields are required to submit an application:</p>
						<ul>
							<li>first name</li>
							<li>last name</li>
							<li>e-mail</li>
							<li>birth date</li>
							<li>mobile number</li>
							<li>country</li>
							<li>state</li>
							<li>city</li>
						</ul>
						<a href="{% url 'update_profile' %}">Please update your profile</a> to include all this information.
					{% endif %}
				{% else %}
					<p class="alert alert-danger">You are not logged in! <a href="{% url 'login' %}">Log in</a> or <a
							href="{% url 'signup' %}">sign-up</a> before using this form.</p>
				{% endif %}

            </div>
        </div>
    </div>
{% endblock content %}
