{% extends 'educational_need/base.html' %}

{% block content %}

{% include 'educational_need/filter_xs.html' %}

<div class="container-fluid">
    <div class="row content">

        {% include 'educational_need/filter.html' %}

        <div class="col-sm-9">
            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Country</th>
                        <th>Amount Required</th>
                    </tr>
                </thead>

                <tbody>
                {% for educational_need in educational_needs %}
                    <tr>
                        <th>{{ educational_need.user.first_name }}</th>
                        <th>{{ educational_need.user.last_name }}</th>
                        <th>{{ educational_need.user.email }}</th>
                        <th>{{ educational_need.user }} phone</th>
                        <th>{{ educational_need.user }} city</th>
                        <th>{{ educational_need.user }} state</th>
                        <th>{{ educational_need.user }} country</th>
                        <th>{{ educational_need.amount }}</th>
                    </tr>
                {% endfor %}
                </tbody>
            <table>
        </div>
    </div>
</div>
{% endblock content %}