{% extends 'superadmin/base.html' %}

{% block page_heading %}
    Users
{% endblock %}

{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">User Accounts</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                    <form method="post" action=".">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12 col-md-3">
                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <label class="input-group-text" for="userStatusSelect">Status</label>
                                  </div>
                                  <select name="user_status" class="custom-select" id="userStatusSelect">
                                    <option {% if not filter_status %}selected{% endif %}>Choose...</option>
                                    <option value="activated" {% if filter_status == 'activated' %}selected{% endif %}>activated</option>
                                    <option value="inactive" {% if filter_status == 'inactive' %}selected{% endif %}>inactive</option>
                                    <option value="volunteer_approved" {% if filter_status == 'volunteer_approved' %}selected{% endif %}>volunteer (approved)</option>
                                    <option value="volunteer_pending" {% if filter_status == 'volunteer_pending' %}selected{% endif %}>volunteer (pending)</option>
                                    <option value="organization" {% if filter_status == 'organization' %}selected{% endif %}>organization</option>
                                    <option value="superuser" {% if filter_status == 'superuser' %}selected{% endif %}>superuser</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                <input type="submit" value="Refresh">
                            </div>
                        </div>
                    </form>
                    </div>
                    <div class="col-sm-12 col-md-3">
                        <div class="input-group mb-3">
                        </div>
                    </div>
                    <!--div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">
                            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                        </div>
                    </div-->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
                            <thead>
                            <tr role="row">
                                <th>ID</th>
                                <th>Username</th>
                                <th>Status</th>
                                <th>Name(s)</th>
                                <th>E-mail</th>
                                <th>Country / State</th>
                                <th>Created</th>
                                <th>Last login</th>
                                <th></th>
                            </tr>
                            </thead>
                        <tbody>
                        {% for user in users %}
                            <tr role="row" class="odd">
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                  {% if user.is_active %}
                                    <span class="badge badge-light">activated</span>
                                  {% else %}
                                    <span class="badge badge-warning">inactive</span>
                                  {% endif %}
                                  {% if user.is_superuser %}
                                    <span class="badge badge-danger">superuser</span>
                                  {% endif %}
                                  {% if user.profile.is_volunteer and not user.profile.approved_volunteer %}
                                    <span class="badge badge-info">volunteer (pending approval)</span>
                                  {% endif %}
                                  {% if user.profile.approved_volunteer %}
                                    <span class="badge badge-success">volunteer (approved)</span>
                                  {% endif %}
                                  {% if user.profile.is_organization %}
                                    <span class="badge badge-dark">organization</span>
                                  {% endif %}
                                </td>
                                <td>
                                    {% if user.profile.is_organization %}
                                        {{ user.profile.organization_name }}
                                    {% else %}
                                        {{ user.first_name }}{% if user.profile.middle_name %} {{ user.profile.middle_name }}{% endif %} {{ user.last_name }}
                                    {% endif %}
                                </td>
                                <td>{{ user.email }}</td>
                                <td>{% if user.profile.country %}{{ user.profile.country }}{% endif %}{% if user.profile.state %} / {{ user.profile.state }}{% endif %}</td>
                                <td>{% if user.date_joined %}{{ user.date_joined }}{% endif %}</td>
                                <td>{% if user.last_login %}{{ user.last_login }}{% endif %}</td>
                                <td><a href="#" class="btn btn-secondary">Edit</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">
                        <div class="pagination">
                            <span class="step-links">
                                {% if users.has_previous %}
                                    <a href="?page={{ users.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ users.number }} of {{ users.paginator.num_pages }}.
                                </span>

                                {% if users.has_next %}
                                    <a href="?page={{ users.next_page_number }}{% if filter_status %}&user_status={{ filter_status }}{% endif %}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}