{% extends 'shared/base.html' %}
{% load static %}

{% block sidebar %}
{% endblock sidebar %}

{% block heading %}
{% endblock heading %}

{% block content %}
<h1>About Janani Home</h1>
<img src="{% static 'img/poster.png' %}" class="img-fluid" alt="Janani Home">
<h2>About the project</h2>
<p>"Janani Home" is a social service website to help people who are in need. It is available now to everyone because of the person named "Janani". It's her request and wish to make something to help
peoples.The thought from her good and pure heart paved way for this.Whom ever gets benefited from this, as a token of appreciation lets thank her with a small prayer once. "Love Unconditionally" is what "Janani Home" beleives in.</p>
<p>The website helps users to connect with people who is looking for help in someway. It's all about helping out the fellow mates
in this world with out even moving from your place. Lets grow and support others too grow. "Janani Home" advises requestors to be genuine and user to validate the details posted by the
requestor before lending their hand out to help them.</p>
<h2>Our services</h2>
<h3 class="small-heading">Educational needs</h3>
<p>Requestors can post their ad with required information by signing up and users can see them and contact them by logging in. Users can mail the requestor and verify their post by asking them the
proper documents or details required to validate their post before helping them out.Messages will be shared to personal maild ID which is given at the time of signup. Both requestor and users can
communicate through mails.</p>
<h2>Terms and conditions</h2>
<p>"Janani Home" is open platform and a medium to establish connection between to unknown persons(seeker and supporter). No warranties,promises and/or representaions of any
kind, expressed or implied on the ads posted by the requestors. "Janani Home" does not take any responsibility or liability for the ads posted by the user, illegal activities by the users
or consequences caused by it.Sharing personal details and information is at your own risk. We cannot gurantee that this website is free from viruses or any other destructive properties.
The logo and branding are copyrights of "Janani Home" and should not be reproduced or used anywhere.</p>
{% endblock content %}