{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if config.GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{config.GOOGLE_SITE_VERIFICATION}}" />
    {% endif %}
    {% include 'shared/styles.html' %}

    {% block meta %}
    {% endblock %}
    {% if config.GOOGLE_ANALYTICS_ID %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{config.GOOGLE_ANALYTICS_ID}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{config.GOOGLE_ANALYTICS_ID}}');
    </script>
    {% endif %}
    
</head>
<body>
    <!-- Navigation -->
    {% include 'shared/navigation.html' %}
    <!-- Site Container -->
    <div class="site-container container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="{% static 'img/poster.png' %}" alt="Janani Home" class="img-fluid">
            </div>
            <div class="col-md-12 heading">
                {% block heading %}
                {% endblock heading %}
            </div>
        </div>
        <!-- Heading Row -->
        <hr>

        <!-- Content -->
        <div class="row">

            <!-- Main Content -->
            <div class="col-md-8 content">
                {% block content %}
                {% endblock content %}
            </div>

            <!-- Sidebar -->
            <div class="col-md-4 sidebar">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
        </div> <!-- Content -->
        <hr>
        <footer id="site-footer">
            Janani Home - Mother's Love And Care
            <br>
            <i class="fa fa-envelope-o" aria-hidden="true"></i> jananihomemail@gmail.com<br>
            {% if config.PHONE_NUMBER %}<i class="fa fa-phone" aria-hidden="true"></i> {{ config.PHONE_NUMBER }}<br>{% endif %}
            <a href="https://www.facebook.com/jananihomepage/" target="_blank">Find us on <i class="fa fa-facebook" aria-hidden="true"></i>acebook</a>
        </footer>
    </div><!-- Site Container -->
    {% include 'shared/javascripts.html' %}
</body>
</html>