<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Janani Home - Mother's Love And Care</title>
    {% include 'shared/styles.html' %}
    <meta name="robots" content="noindex, nofollow">
</head>
<body>
    <!-- Site Container -->
    <div class="container">

        <!-- Navigation -->
        {% include 'shared/navigation.html' %}
        <!-- Heading Row -->
        <div class="heading row justify-content-md-center">
            <div class="col-md-9">
                {% block heading %}
                {% endblock heading %}
            </div>
        </div>
        <hr>

        <!-- Content -->
        <div class="row">

            <!-- Main Content -->
            <div class="col-md-8">
                {% block content %}
                {% endblock content %}
            </div>

            <!-- Sidebar -->
            <div class="col-md-4">
                {% block sidebar %}
                {% endblock sidebar %}
            </div>
        </div> <!-- Content -->
        <hr>
        <footer id="site-footer">
            Janani Home - Mother's Love And Care
        </footer>
    </div><!-- Site Container -->
    {% include 'shared/javascripts.html' %}
</body>
</html>