{% load static %}
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<!-- Infinite scrolling -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js"></script>
{% if request.resolver_match.view_name in 'list_view|comment_list|volunteer_list'  %}
<script>
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.loading').show();
    },
    onAfterPageLoad: function ($items) {
      $('.loading').hide();
    }
  });
</script>
{% endif %}
<!-- Tether -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!-- Popover -->
<script type="text/javascript" src="{% static 'js/popover.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ytresizer.js' %}"></script>

{% if 'edit_profile' in request.path or 'activate' in request.path %}
<!-- Chained select -->
<script type="text/javascript" src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
<script type="text/javascript" src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
{% endif %}

{% if request.resolver_match.view_name == 'list_view' %}
<!-- Filtering and search -->
<script type="text/javascript" src="{% static 'js/filtering.js' %}"></script>
{% endif%}

{% if request.resolver_match.view_name == 'list_view' or request.resolver_match.view_name == 'detail_view' %}
<script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
{% endif%}

<script>
function goBack() {
    window.history.back();
}
</script>

{% if request.resolver_match.view_name == 'events' %}
    <script type="text/javascript" src="{% static 'js/jquery.simplyscroll.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

    <script>
    (function($) { // < start of closure
        // within this block, $ = django.jQuery
        $(document).ready(function() {
            $(".scroller").simplyScroll();
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
            $('.row').show();
        });
    })(jQuery);

    $('.simply-scroll .simply-scroll-container').css({'width':'99% !important'});
    $('.simply-scroll .simply-scroll-clip').css({'width':'99% !important'});
    </script>
{% endif %}

<script>
    $(document).ready(function ()
    {
     if(sessionStorage["popupShown"] != 'yes') {
         $('#upgradeModal').modal('show');
     }
    });

    $(".upgradeModalClose").click(function (e)
    {
     $('#upgradeModal').modal('hide');
     e.preventDefault();
     sessionStorage["popupShown"] = 'yes';
    });
</script>
