{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <!--a class="nav-item nav-link" href="{% url 'list_view' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a-->
      <a class="nav-item nav-link {% if request.resolver_match.view_name == 'list_view' %}active{% endif%}" href="{% url 'list_view' %}">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          Educational needs
          {% if request.resolver_match.view_name == 'list_view' %}<span class="sr-only">(current)</span>{% endif %}
      </a>
      <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1"><i class="fa fa-heartbeat" aria-hidden="true"></i> Blood Donor Contacts</a>-->
      <a class="nav-item nav-link {% if request.resolver_match.view_name == 'about_page' %}active{% endif%}" href="{% url 'about_page' %}">
          <i class="fa fa-info" aria-hidden="true"></i>
          About the project
          {% if request.resolver_match.view_name == 'about_page' %}<span class="sr-only">(current)</span>{% endif %}
      </a>
      <a class="nav-item nav-link" data-toggle="modal" data-target="#guideline" href="#">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          Guidelines
      </a>
    </div>
    <div class="navbar-nav">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a class="nav-item nav-link" href="{% url 'admin:index' %}" target="_blank">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    Admin
                </a>
            {% endif %}
            <a class="nav-item nav-link {% if request.resolver_match.view_name == 'view_profile' %}active{% endif%}" href="{% url 'view_profile' %}">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                Profile
                {% if request.resolver_match.view_name == 'view_profile' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
            <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
            {% else %}
            <a class="nav-item nav-link {% if request.resolver_match.view_name == 'signup' %}active{% endif%}" href="{% url 'signup' %}">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                Sign up
                {% if request.resolver_match.view_name == 'signup' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
            <a class="nav-item nav-link {% if request.resolver_match.view_name == 'login' %}active{% endif%}" href="{% url 'login' %}">
                <i class="fa fa-lock" aria-hidden="true"></i>
                Login
                {% if request.resolver_match.view_name == 'login' %}<span class="sr-only">(current)</span>{% endif %}
            </a>
        {% endif %}
    </div>
  </div>
    <!-- Guideline Modal -->
    <div class="modal fade" id="guideline" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Guidelines</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                &times;
              </span>
            </button>
          </div>
          <div class="modal-body">
                  <ol>
                      <li>User's are advised to interact with the requester and validate their requirement before helping.</li>
                      <li>Basically first time user's can interact with the requester through mail. Then its between you two how proceed with your communication.</li>
                      <li>If either side of the party feels there is something wrong you can write to us at jananihomemail@gmail.com with proper proof so that we can block them.</li>
                      <li>We request to the people's who post educational need to close the record once you get what you want. Don't keep it open and block others way or Misuse it by getting benefits from more than one user.</li>
                      <li>To the user's we request to write us at jananihomemail@gmail.com after you have done helping to some one with proper proof so that we can make sure no one can misuse the ad that they are posting.</li>
                      <li>Requester's when ever your closing the ad write a few lines of comment about the user who helped you and about this site.</li>
                  </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>
</nav>
