{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <!--a class="nav-item nav-link" href="{% url 'list_view' %}"><i class="fa fa-home" aria-hidden="true"></i> Home</a-->
      <a class="nav-item nav-link" href="{% url 'list_view' %}"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Educational Needs</a>
      <!--<a class="nav-item nav-link disabled" href="#" tabindex="-1"><i class="fa fa-heartbeat" aria-hidden="true"></i> Blood Donor Contacts</a>-->
      <a class="nav-item nav-link" href="{% url 'about_page' %}"><i class="fa fa-info" aria-hidden="true"></i> About Janani Home</a>
    </div>
    <div class="navbar-nav">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a class="nav-item nav-link" href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-lock" aria-hidden="true"></i> Admin</a>
            {% endif %}
            <a class="nav-item nav-link" href="{% url 'view_profile' %}"><i class="fa fa-user-o" aria-hidden="true"></i> Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'signup' %}"><i class="fa fa-user-o" aria-hidden="true"></i> Sign up</a>
            <a class="nav-item nav-link" href="{% url 'login' %}"><i class="fa fa-lock" aria-hidden="true"></i> Login</a>
        {% endif %}
    </div>
  </div>
</div>
</nav>
