<nav class=" navbar navbar-toggleable-sm navbar-inverse bg-inverse border-bottom-black">

    <div class="navbar-brand text-15 col-md-3 text-center text-title">
        <a>Janani Home<br>Mothers love</a>
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-md-9" id="navbarNavDropdown">
        <ul class="navbar-nav text-14 col-md-8">
            <li class="nav-item active">
                <a class="nav-link hover-gray" href="{% url 'list_view' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">school</i></span>&nbsp;Educational Need <span class="sr-only">(current)</span></a>
            </li>
            &nbsp;&nbsp;
            <li class="nav-item">
                <a class="nav-link hover-gray" href="#" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">phone_android</i></span>&nbsp;Blood Donar Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover-gray" href="{% url 'comment_list' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">comment</i></span>&nbsp;Comments</a>
            </li>
        </ul>
        <ul class="navbar-nav text-14 col-md-4">
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link hover-gray" href="{% url 'admin:index' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">lock</i></span>&nbsp;Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link hover-gray" href="{% url 'view_profile' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">account_circle</i></span>&nbsp;Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover-gray" href="{% url 'logout' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">power_settings_new</i></span>&nbsp;Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link hover-gray" href="{% url 'signup' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">account_circle</i></span>&nbsp;Sign-up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hover-gray" href="{% url 'login' %}" style="color: white" onmouseover="this.style.color='#A5AAAD'" onmouseout="this.style.color='white'"><span><i class="material-icons text-14">power_settings_new</i></span>&nbsp;Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>