{% extends 'shared/base.html' %}
{% load thumbnail %}
{% load static %}

{% block meta %}
    <title>Events - Janani Home</title>
    <meta name="description" content="Events organized by Janani Home." />
{% endblock %}

{% block sidebar %}
{% endblock sidebar %}

{% block heading %}
{% endblock heading %}

{% block content %}
    <h1>Events</h1>
    {% if events %}
        {% for event in events %}
            <p>{{event.event_date}}</p>
            <div class="justify-content-center row" style="display:none">
                <h2>{{ event.title }}</h2>
                <div class="col-md-12">
                    <div class="row">
                        <ul class="scroller">
                            {% if event.images %}
                                {% for image in event.images.all %}
                                    <li>
                                        {{ image.name }}
                                        <a class="col-sm-4" href="{{ image.image|thumbnail_url:'gallery' }}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                                            <img class="img-fluid" src=" {{ image.image|thumbnail_url:'slide' }}" />
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
